.App{
  background-color: teal;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 800px; 
  margin: 0 auto; 
}

.generator{
  background-image: linear-gradient(purple, white 300%);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.863);
  padding: 30px;
  max-width: 500px;
  width: 100%;
}

.generator-header{
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.generator-password{
  display: flex;
  height: auto;
  padding: 13px 10px;
  margin-bottom: 15px;
  border-radius: 25px;
  background-color:white;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.generator-password h3 {
  max-width: 98%;
}

.copy-btn {
  color: #fff;
  background: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 30px;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
}

.generator-btn{
  background: black;
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
}

.placeholder {
  display: center;
  color: #ccc;
  text-align: center;
  align-items: center;
}

.form-group{
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 15px;
}

.pw {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; 
  font-family: inherit; 
  font-size: 14px;
}

textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.pw:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.password-info {
  text-align: center; 
  font-size: 18px;
}

input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked {
  background-color: #0af316;
  border-color: #66bb6a;
}

input[type="checkbox"]::before {
  content: '\2705';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

@media (max-width: 768px) {
  .App {
    overflow: scroll;
  }
}